// this would be your basic text color
$color-alpha: #384045;

// this would be a secondary highlight color, like for input fields, links, etc.
$color-beta: #87A99E;
$color-gamma: #C7DDE1;
$color-delta: #E4E2D9;
$color-epsilon: #F8F5ED;

$font-size-base: 12pt;

$page-width: 8.5in;
$page-height: 11in;


