@page { margin: 1.05in 0.95in; size: 8.5in 11in; @top-center { content: string(title); } }
body { margin: 0; padding: 0; font-size: 16pt; }
body > div:first-child { page-break-before: left; }
h1, h2 { display: none; string-set: title content(); }

div { 
	box-sizing: border-box;
	margin: 0.10in;
	width: 2in;
	height: 2in; 
	border: solid black 1px; 
	display: inline-block;
	float: left;
	position: relative; 
	page-break-inside: avoid;
}

div p { 
	margin: 0.10in 0; 
	text-align: center; 
	position: absolute;
	width: 2in;
	height: 0.25in;
}

div p:nth-child(2) { 
	transform: rotate(180deg) translate(-2in, -1.8in); 
	transform-origin: 0in 0in;
}
div p:nth-child(3) { 
	transform: rotate(90deg) translate(2in, 0.10in);
	transform-origin: 2in 0in;
}
div p:nth-child(4) {
	transform: rotate(270deg) translate(-2in, 0.10in);
	transform-origin: 0in 0in;
}
