@import url('https://fonts.googleapis.com/css?family=Adamina');
@import url('https://fonts.googleapis.com/css?family=Rasa');
@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro');
@import url('https://fonts.googleapis.com/css?family=Handlee');

$font-family-base: 'Source Serif Pro', serif;
$font-family-headers: 'Rasa', serif;
$font-family-display: 'Adamina', serif;
$font-family-handwriting: 'Handlee', cursive;

$font-size-base: 12pt;

$color-base: #333436;
$color-accent: #636E6E;
$color-info: #4F849C;
$color-warn: #9A2323;

body {
	font-family: $font-family-base;
	font-size: $font-size-base;
	color: $color-base;
}

h1, h2, h3, h4, h5, h6 { font-family: $font-family-headers; }

h1 { font-size: 200%; text-align: center; }
h2, .subtitle, .date, .author { font-size: 150%; text-align: center; }
h3 { font-size: 140%; }
h4 { font-size: 130%; }
h5 { font-size: 120%; }
h6 { font-size: 110%; }

.mark-circle {
	border: $color-info solid 1px; 
	font-family: $font-family-base;
	padding: 0.25em;
	border-radius: 50%;
}

.mark-underline {
	border-bottom: $color-info solid 1px; 
	font-family: $font-family-base;
}
